{% extends 'EcomAppBundle::layout.html.twig' %}
{% block title %}Product Category{% endblock %}
{% block stylesheets %}
    <link href="{{ asset('bundles/ecomapp/css/jquery.nouislider.min.css') }}" rel="stylesheet">
    {{ parent() }}
{% endblock %}
{% block body %}
    <div class="row content">

        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="breadcrumbs">
                <p><a href="#">Home</a> <i class="icons icon-right-dir"></i> Computers &amp; Tablets</p>
            </div>
        </div>

        <!-- Main Content -->
        <section class="main-content col-lg-9 col-md-9 col-sm-9">

            <div class="row">

                <!-- Heading -->
                <div class="col-lg-12 col-md-12 col-sm-12">

                    <div class="carousel-heading">
                        <h4>Computer &amp; Tablets</h4>
                    </div>

                    <div class="categories-heading">
                        <a href="#"><img src="{{ asset('bundles/ecomapp/img/category-heading.jpg') }}" alt=""></a>
                        <p>Mauris fermentum dictum magna. Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget,
                            elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat.
                            Duis ac turpis. Integer rutrum ante eu lacus.</p>
                    </div>

                </div>
                <!-- /Heading -->

                <div class="col-lg-12 col-md-12 col-sm-12">

                    <div class="row subcategories">

                        <!-- Subcategory -->
                        <div class="col-lg-fifth col-md-fifth col-sm-fifth subcategory">

                            <a href="#"><img src="{{ asset('bundles/ecomapp/img/products/sample1.jpg') }}" alt="Product1"></a>
                            <div class="product-info">
                                <h6><a href="#">Lorem ipsum dolor sit amet</a></h6>
                            </div>

                        </div>
                        <!-- /Subcategory -->

                    </div>

                </div>

            </div>

            <div class="row">

                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="category-heading">
                        <select class="chosen-select">
                            <option>Product name</option>
                            <option>Product name</option>
                            <option>Product name</option>
                            <option>Product name</option>
                        </select>
                        <select class="chosen-select">
                            <option>Select manufacturer</option>
                            <option>Product name</option>
                            <option>Product name</option>
                            <option>Product name</option>
                        </select>
                        <div class="category-buttons">
                            <a href="category_v1.html"><i class="icons icon-th-3"></i></a>
                            <a href="category_v2.html"><i class="icons icon-th-list-4 active-button"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="category-results">
                        <p>Results 1-6 of 6</p>
                        <p>Show
                            <select class="chosen-select">
                                <option>1</option>
                                <option>2</option>
                                <option>6</option>
                                <option>P10</option>
                            </select>
                            per page
                        </p>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="pagination">
                        <a href="#">
                            <div class="previous"><i class="icons icon-left-dir"></i></div>
                        </a>
                        <a href="#">
                            <div class="page-button">1</div>
                        </a>
                        <a href="#">
                            <div class="page-button">2</div>
                        </a>
                        <a href="#">
                            <div class="page-button">3</div>
                        </a>
                        <a href="#">
                            <div class="next"><i class="icons icon-right-dir"></i></div>
                        </a>
                    </div>
                </div>

            </div>

            <div class="row">

                <!-- Product Item -->
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="grid-view product">
                        <div class="product-image col-lg-4 col-md-4 col-sm-4">
                            <img src="{{ asset('bundles/ecomapp/img/products/sample1.jpg') }}" alt="Product1">
                            <a href="products_page_v1.html" class="product-hover">
                                <i class="icons icon-eye-1"></i> Quick View
                            </a>
                        </div>

                        <div class="col-lg-8 col-md-8 col-sm-8 product-content no-padding">
                            <div class="product-info">
                                <h5><a href="products_page_v1.html">Lorem ipsum dolor sit amet</a></h5>
                                <span class="price">$281.00</span>
                                <div class="rating-box">
                                    <div class="rating readonly-rating" data-score="4"></div>
                                    <span>3 Review(s)</span>
                                </div>
                                <p>Aliquam erat volutpat. Duis ac turpis. Donec sit amet eros. Lorem ipsum dolor sit
                                    amet, consectetuer adipiscing elit. Mauris fermentum dictum magna. Sed laoreet
                                    aliquam leo. Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit.
                                    Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Integer rutrum
                                    ante eu lacus.
                                </p>
                            </div>


                            <div class="product-actions full-width">
                                        <span class="add-to-cart">
                                            <span class="action-wrapper">
                                                <i class="icons icon-basket-2"></i>
                                                <span class="action-name">Add to cart</span>
                                            </span>
                                        </span>
                                <span class="add-to-favorites">
                                            <span class="action-wrapper">
                                                <i class="icons icon-heart-empty"></i>
                                                <span class="action-name">Add to wishlist</span>
                                            </span>
                                        </span>
                                <span class="add-to-compare">
                                            <span class="action-wrapper">
                                                <i class="icons icon-docs"></i>
                                                <span class="action-name">Add to Compare</span>
                                            </span>
                                        </span>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- Product Item -->

                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="category-results">
                        <p>Results 1-6 of 6</p>
                        <p>Show
                            <select class="chosen-select">
                                <option>1</option>
                                <option>2</option>
                                <option>6</option>
                                <option>P10</option>
                            </select>
                            per page
                        </p>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="pagination">
                        <a href="#">
                            <div class="previous"><i class="icons icon-left-dir"></i></div>
                        </a>
                        <a href="#">
                            <div class="page-button">1</div>
                        </a>
                        <a href="#">
                            <div class="page-button">2</div>
                        </a>
                        <a href="#">
                            <div class="page-button">3</div>
                        </a>
                        <a href="#">
                            <div class="next"><i class="icons icon-right-dir"></i></div>
                        </a>
                    </div>
                </div>

            </div>
        </section>
        {% block sidebar %}
        <!-- Filter -->
        <aside class="sidebar right-sidebar col-lg-3 col-md-3 col-sm-3">
            <div class="sidebar-box green">
            <div class="sidebar-box-heading">
                <i class="icons icon-filter"></i>
                <h4>Filters</h4>
            </div>

            <div class="sidebar-box-content sidebar-padding-box">
                <label>Categories</label><br>
                <select class="chosen-select-full-width">
                    <option>Category 1</option>
                    <option>Category 1</option>
                    <option>Category 1</option>
                    <option>Category 1</option>
                    <option>Category 1</option>
                </select>
                <br><br>
                <label>Manufacturers</label><br>
                <input type="checkbox" id="categorymanufacturer1"><label for="categorymanufacturer1">Lorem <span
                            class="grey">(12)</span></label><br>
                <input type="checkbox" id="categorymanufacturer2"><label for="categorymanufacturer2">Ipsum <span
                            class="grey">(14)</span></label><br>
                <input type="checkbox" id="categorymanufacturer3"><label for="categorymanufacturer3">Dolor <span
                            class="grey">(4)</span></label><br>
                <input type="checkbox" id="categorymanufacturer4"><label for="categorymanufacturer4">Est <span
                            class="grey">(24)</span></label><br>
                <input type="checkbox" id="categorymanufacturer5"><label for="categorymanufacturer5">Amir <span
                            class="grey">(11)</span></label><br>
                <br>
                <label>Price</label>
                <div class="noUiSlider" data-min-range="30" data-max-range="200" data-min-value="80"
                     data-max-value="150"></div>
                <span class="price-range-min"></span>
                <span class="price-range-max"></span>
                <br><br>
                <label>Color</label><br>
                <input id="checkbox-color-white" type="checkbox"><label class="color-checkbox white"
                                                                        for="checkbox-color-white"></label>
                <input id="checkbox-color-red" type="checkbox"><label class="color-checkbox red"
                                                                      for="checkbox-color-red"></label>
                <input id="checkbox-color-green" type="checkbox"><label class="color-checkbox green"
                                                                        for="checkbox-color-green"></label>
                <input id="checkbox-color-blue" type="checkbox"><label class="color-checkbox blue"
                                                                       for="checkbox-color-blue"></label>
                <input id="checkbox-color-black" type="checkbox"><label class="color-checkbox black"
                                                                        for="checkbox-color-black"></label>
                <br><br>
                <input type="submit" value="Show">
                <input class="dark-blue" type="reset" value="Reset">

            </div>
            </div>
        </aside>
            <!-- Filter -->
            {{ parent() }}
            {% endblock %}
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('bundles/ecomapp/js/jquery.nouislider.min.js') }}"></script>
    {{ parent() }}
{% endblock %}
