<section class="main-content col-lg-9 col-md-9 col-sm-9">

    <!-- Featured Products -->
    <div class="products-row row">

        <!-- Carousel Heading -->
        <div class="col-lg-12 col-md-12 col-sm-12">

            <div class="carousel-heading">
                <h4>Featured Products</h4>
                <div class="carousel-arrows">
                    <i class="icons icon-left-dir"></i>
                    <i class="icons icon-right-dir"></i>
                </div>
            </div>

        </div>
        <!-- /Carousel Heading -->

        <!-- Carousel -->
        <div class="carousel owl-carousel-wrap col-lg-12 col-md-12 col-sm-12">

            <div class="owl-carousel" data-max-items="3">

                <!-- Slide -->
                <div>
                    <!-- Carousel Item -->
                    <div class="product">

                        <div class="product-image">
                            <img src="{{ asset('bundles/ecomapp/img/products/sample1.jpg') }}" alt="Product1">
                            <a href="products_page_v1.html" class="product-hover">
                                <i class="icons icon-eye-1"></i> Quick View
                            </a>
                        </div>

                        <div class="product-info">
                            <h5><a href="products_page_v1.html">Lorem ipsum dolor sit amet</a></h5>
                            <span class="price">$281.00</span>
                            <div class="rating readonly-rating" data-score="4"></div>
                        </div>

                        <div class="product-actions">
												<span class="add-to-cart">
													<span class="action-wrapper">
														<i class="icons icon-basket-2"></i>
														<span class="action-name">Add to cart</span>
													</span >
												</span>
                            <span class="add-to-favorites">
													<span class="action-wrapper">
														<i class="icons icon-heart-empty"></i>
														<span class="action-name">Add to wishlist</span>
													</span>
												</span>
                            <span class="add-to-compare">
													<span class="action-wrapper">
														<i class="icons icon-docs"></i>
														<span class="action-name">Add to Compare</span>
													</span>
												</span>
                        </div>

                    </div>
                    <!-- /Carousel Item -->
                </div>
                <!-- /Slide -->


                <!-- Slide -->
                <div>
                    <!-- Carousel Item -->
                    <div class="product">

                        <div class="product-image">
                            <span class="product-tag">Sale</span>
                            <img src="{{ asset('bundles/ecomapp/img/products/sample2.jpg') }}" alt="Product1">
                            <a href="products_page_v1.html" class="product-hover">
                                <i class="icons icon-eye-1"></i> Quick View
                            </a>
                        </div>

                        <div class="product-info">
                            <h5><a href="products_page_v1.html">Lorem ipsum dolor sit amet</a></h5>
                            <span class="price">$281.00</span>
                            <div class="rating readonly-rating" data-score="4"></div>
                        </div>

                        <div class="product-actions">
												<span class="add-to-cart">
													<span class="action-wrapper">
														<i class="icons icon-basket-2"></i>
														<span class="action-name">Add to cart</span>
													</span >
												</span>
                            <span class="add-to-favorites">
													<span class="action-wrapper">
														<i class="icons icon-heart-empty"></i>
														<span class="action-name">Add to wishlist</span>
													</span>
												</span>
                            <span class="add-to-compare">
													<span class="action-wrapper">
														<i class="icons icon-docs"></i>
														<span class="action-name">Add to Compare</span>
													</span>
												</span>
                        </div>

                    </div>
                    <!-- /Carousel Item -->
                </div>
                <!-- /Slide -->



                <!-- Slide -->
                <div>
                    <!-- Carousel Item -->
                    <div class="product">

                        <div class="product-image">
                            <img src="{{ asset('bundles/ecomapp/img/products/sample3.jpg') }}" alt="Product1">
                            <a href="products_page_v1.html" class="product-hover">
                                <i class="icons icon-eye-1"></i> Quick View
                            </a>
                        </div>

                        <div class="product-info">
                            <h5><a href="products_page_v1.html">Lorem ipsum dolor sit amet</a></h5>
                            <span class="price">$281.00</span>
                            <div class="rating readonly-rating" data-score="4"></div>
                        </div>

                        <div class="product-actions">
												<span class="add-to-cart">
													<span class="action-wrapper">
														<i class="icons icon-basket-2"></i>
														<span class="action-name">Add to cart</span>
													</span >
												</span>
                            <span class="add-to-favorites">
													<span class="action-wrapper">
														<i class="icons icon-heart-empty"></i>
														<span class="action-name">Add to wishlist</span>
													</span>
												</span>
                            <span class="add-to-compare">
													<span class="action-wrapper">
														<i class="icons icon-docs"></i>
														<span class="action-name">Add to Compare</span>
													</span>
												</span>
                        </div>

                    </div>
                    <!-- /Carousel Item -->
                </div>
                <!-- /Slide -->




                <!-- Slide -->
                <div>
                    <!-- Carousel Item -->
                    <div class="product">

                        <div class="product-image">
                            <img src="{{ asset('bundles/ecomapp/img/products/sample1.jpg') }}" alt="Product1">
                            <a href="products_page_v1.html" class="product-hover">
                                <i class="icons icon-eye-1"></i> Quick View
                            </a>
                        </div>

                        <div class="product-info">
                            <h5><a href="products_page_v1.html">Lorem ipsum dolor sit amet</a></h5>
                            <span class="price">$281.00</span>
                            <div class="rating readonly-rating" data-score="4"></div>
                        </div>

                        <div class="product-actions">
												<span class="add-to-cart">
													<span class="action-wrapper">
														<i class="icons icon-basket-2"></i>
														<span class="action-name">Add to cart</span>
													</span >
												</span>
                            <span class="add-to-favorites">
													<span class="action-wrapper">
														<i class="icons icon-heart-empty"></i>
														<span class="action-name">Add to wishlist</span>
													</span>
												</span>
                            <span class="add-to-compare">
													<span class="action-wrapper">
														<i class="icons icon-docs"></i>
														<span class="action-name">Add to Compare</span>
													</span>
												</span>
                        </div>

                    </div>
                    <!-- /Carousel Item -->
                </div>
                <!-- /Slide -->




                <!-- Slide -->
                <div>
                    <!-- Carousel Item -->
                    <div class="product">

                        <div class="product-image">
                            <img src="{{ asset('bundles/ecomapp/img/products/sample2.jpg') }}" alt="Product1">
                            <a href="products_page_v1.html" class="product-hover">
                                <i class="icons icon-eye-1"></i> Quick View
                            </a>
                        </div>

                        <div class="product-info">
                            <h5><a href="products_page_v1.html">Lorem ipsum dolor sit amet</a></h5>
                            <span class="price">$281.00</span>
                            <div class="rating readonly-rating" data-score="4"></div>
                        </div>

                        <div class="product-actions">
												<span class="add-to-cart">
													<span class="action-wrapper">
														<i class="icons icon-basket-2"></i>
														<span class="action-name">Add to cart</span>
													</span >
												</span>
                            <span class="add-to-favorites">
													<span class="action-wrapper">
														<i class="icons icon-heart-empty"></i>
														<span class="action-name">Add to wishlist</span>
													</span>
												</span>
                            <span class="add-to-compare">
													<span class="action-wrapper">
														<i class="icons icon-docs"></i>
														<span class="action-name">Add to Compare</span>
													</span>
												</span>
                        </div>

                    </div>
                    <!-- /Carousel Item -->
                </div>
                <!-- /Slide -->



                <!-- Slide -->
                <div>
                    <!-- Carousel Item -->
                    <div class="product">

                        <div class="product-image">
                            <img src="{{ asset('bundles/ecomapp/img/products/sample3.jpg') }}" alt="Product1">
                            <a href="products_page_v1.html" class="product-hover">
                                <i class="icons icon-eye-1"></i> Quick View
                            </a>
                        </div>

                        <div class="product-info">
                            <h5><a href="products_page_v1.html">Lorem ipsum dolor sit amet</a></h5>
                            <span class="price">$281.00</span>
                            <div class="rating readonly-rating" data-score="4"></div>
                        </div>

                        <div class="product-actions">
												<span class="add-to-cart">
													<span class="action-wrapper">
														<i class="icons icon-basket-2"></i>
														<span class="action-name">Add to cart</span>
													</span >
												</span>
                            <span class="add-to-favorites">
													<span class="action-wrapper">
														<i class="icons icon-heart-empty"></i>
														<span class="action-name">Add to wishlist</span>
													</span>
												</span>
                            <span class="add-to-compare">
													<span class="action-wrapper">
														<i class="icons icon-docs"></i>
														<span class="action-name">Add to Compare</span>
													</span>
												</span>
                        </div>

                    </div>
                    <!-- /Carousel Item -->
                </div>
                <!-- /Slide -->


            </div>
        </div>
        <!-- /Carousel -->

    </div>
    <!-- /Featured Products -->




    <!-- New Collection -->
    <div class="products-row row">

        <!-- Carousel Heading -->
        <div class="col-lg-12 col-md-12 col-sm-12">

            <div class="carousel-heading">
                <h4>New Collection</h4>
                <div class="carousel-arrows">
                    <i class="icons icon-left-dir"></i>
                    <i class="icons icon-right-dir"></i>
                </div>
            </div>

        </div>
        <!-- /Carousel Heading -->

        <!-- Carousel -->
        <div class="carousel owl-carousel-wrap col-lg-12 col-md-12 col-sm-12">

            <div class="owl-carousel" data-max-items="3">

                <!-- Slide -->
                <div>
                    <!-- Carousel Item -->
                    <div class="product">

                        <div class="product-image">
                            <span class="product-tag">Sale</span>
                            <img src="{{ asset('bundles/ecomapp/img/products/sample4.jpg') }}" alt="Product1">
                            <a href="products_page_v1.html" class="product-hover">
                                <i class="icons icon-eye-1"></i> Quick View
                            </a>
                        </div>

                        <div class="product-info">
                            <h5><a href="products_page_v1.html">Lorem ipsum dolor sit amet</a></h5>
                            <span class="price">$281.00</span>
                            <div class="rating readonly-rating" data-score="4"></div>
                        </div>

                        <div class="product-actions">
												<span class="add-to-cart">
													<span class="action-wrapper">
														<i class="icons icon-basket-2"></i>
														<span class="action-name">Add to cart</span>
													</span >
												</span>
                            <span class="add-to-favorites">
													<span class="action-wrapper">
														<i class="icons icon-heart-empty"></i>
														<span class="action-name">Add to wishlist</span>
													</span>
												</span>
                            <span class="add-to-compare">
													<span class="action-wrapper">
														<i class="icons icon-docs"></i>
														<span class="action-name">Add to Compare</span>
													</span>
												</span>
                        </div>

                    </div>
                    <!-- /Carousel Item -->
                </div>
                <!-- /Slide -->


                <!-- Slide -->
                <div>
                    <!-- Carousel Item -->
                    <div class="product">

                        <div class="product-image">
                            <img src="{{ asset('bundles/ecomapp/img/products/sample5.jpg') }}" alt="Product1">
                            <a href="products_page_v1.html" class="product-hover">
                                <i class="icons icon-eye-1"></i> Quick View
                            </a>
                        </div>

                        <div class="product-info">
                            <h5><a href="products_page_v1.html">Lorem ipsum dolor sit amet</a></h5>
                            <span class="price">$281.00</span>
                            <div class="rating readonly-rating" data-score="4"></div>
                        </div>

                        <div class="product-actions">
												<span class="add-to-cart">
													<span class="action-wrapper">
														<i class="icons icon-basket-2"></i>
														<span class="action-name">Add to cart</span>
													</span >
												</span>
                            <span class="add-to-favorites">
													<span class="action-wrapper">
														<i class="icons icon-heart-empty"></i>
														<span class="action-name">Add to wishlist</span>
													</span>
												</span>
                            <span class="add-to-compare">
													<span class="action-wrapper">
														<i class="icons icon-docs"></i>
														<span class="action-name">Add to Compare</span>
													</span>
												</span>
                        </div>

                    </div>
                    <!-- /Carousel Item -->
                </div>
                <!-- /Slide -->



                <!-- Slide -->
                <div>
                    <!-- Carousel Item -->
                    <div class="product">

                        <div class="product-image">
                            <img src="{{ asset('bundles/ecomapp/img/products/sample6.jpg') }}" alt="Product1">
                            <a href="products_page_v1.html" class="product-hover">
                                <i class="icons icon-eye-1"></i> Quick View
                            </a>
                        </div>

                        <div class="product-info">
                            <h5><a href="products_page_v1.html">Lorem ipsum dolor sit amet</a></h5>
                            <span class="price">$281.00</span>
                            <div class="rating readonly-rating" data-score="4"></div>
                        </div>

                        <div class="product-actions">
												<span class="add-to-cart">
													<span class="action-wrapper">
														<i class="icons icon-basket-2"></i>
														<span class="action-name">Add to cart</span>
													</span >
												</span>
                            <span class="add-to-favorites">
													<span class="action-wrapper">
														<i class="icons icon-heart-empty"></i>
														<span class="action-name">Add to wishlist</span>
													</span>
												</span>
                            <span class="add-to-compare">
													<span class="action-wrapper">
														<i class="icons icon-docs"></i>
														<span class="action-name">Add to Compare</span>
													</span>
												</span>
                        </div>

                    </div>
                    <!-- /Carousel Item -->
                </div>
                <!-- /Slide -->




                <!-- Slide -->
                <div>
                    <!-- Carousel Item -->
                    <div class="product">

                        <div class="product-image">
                            <img src="{{ asset('bundles/ecomapp/img/products/sample4.jpg') }}" alt="Product1">
                            <a href="products_page_v1.html" class="product-hover">
                                <i class="icons icon-eye-1"></i> Quick View
                            </a>
                        </div>

                        <div class="product-info">
                            <h5><a href="products_page_v1.html">Lorem ipsum dolor sit amet</a></h5>
                            <span class="price">$281.00</span>
                            <div class="rating readonly-rating" data-score="4"></div>
                        </div>

                        <div class="product-actions">
												<span class="add-to-cart">
													<span class="action-wrapper">
														<i class="icons icon-basket-2"></i>
														<span class="action-name">Add to cart</span>
													</span >
												</span>
                            <span class="add-to-favorites">
													<span class="action-wrapper">
														<i class="icons icon-heart-empty"></i>
														<span class="action-name">Add to wishlist</span>
													</span>
												</span>
                            <span class="add-to-compare">
													<span class="action-wrapper">
														<i class="icons icon-docs"></i>
														<span class="action-name">Add to Compare</span>
													</span>
												</span>
                        </div>

                    </div>
                    <!-- /Carousel Item -->
                </div>
                <!-- /Slide -->




                <!-- Slide -->
                <div>
                    <!-- Carousel Item -->
                    <div class="product">

                        <div class="product-image">
                            <img src="{{ asset('bundles/ecomapp/img/products/sample4.jpg') }}" alt="Product1">
                            <a href="products_page_v1.html" class="product-hover">
                                <i class="icons icon-eye-1"></i> Quick View
                            </a>
                        </div>

                        <div class="product-info">
                            <h5><a href="products_page_v1.html">Lorem ipsum dolor sit amet</a></h5>
                            <span class="price">$281.00</span>
                            <div class="rating readonly-rating" data-score="4"></div>
                        </div>

                        <div class="product-actions">
												<span class="add-to-cart">
													<span class="action-wrapper">
														<i class="icons icon-basket-2"></i>
														<span class="action-name">Add to cart</span>
													</span >
												</span>
                            <span class="add-to-favorites">
													<span class="action-wrapper">
														<i class="icons icon-heart-empty"></i>
														<span class="action-name">Add to wishlist</span>
													</span>
												</span>
                            <span class="add-to-compare">
													<span class="action-wrapper">
														<i class="icons icon-docs"></i>
														<span class="action-name">Add to Compare</span>
													</span>
												</span>
                        </div>

                    </div>
                    <!-- /Carousel Item -->
                </div>
                <!-- /Slide -->





                <!-- Slide -->
                <div>
                    <!-- Carousel Item -->
                    <div class="product">

                        <div class="product-image">
                            <img src="{{ asset('bundles/ecomapp/img/products/sample4.jpg') }}" alt="Product1">
                            <a href="products_page_v1.html" class="product-hover">
                                <i class="icons icon-eye-1"></i> Quick View
                            </a>
                        </div>

                        <div class="product-info">
                            <h5><a href="products_page_v1.html">Lorem ipsum dolor sit amet</a></h5>
                            <span class="price">$281.00</span>
                            <div class="rating readonly-rating" data-score="4"></div>
                        </div>

                        <div class="product-actions">
												<span class="add-to-cart">
													<span class="action-wrapper">
														<i class="icons icon-basket-2"></i>
														<span class="action-name">Add to cart</span>
													</span >
												</span>
                            <span class="add-to-favorites">
													<span class="action-wrapper">
														<i class="icons icon-heart-empty"></i>
														<span class="action-name">Add to wishlist</span>
													</span>
												</span>
                            <span class="add-to-compare">
													<span class="action-wrapper">
														<i class="icons icon-docs"></i>
														<span class="action-name">Add to Compare</span>
													</span>
												</span>
                        </div>

                    </div>
                    <!-- /Carousel Item -->
                </div>
                <!-- /Slide -->


            </div>
        </div>
        <!-- /Carousel -->

    </div>
    <!-- /New Collection -->





    <!-- Random Products -->
    <div class="products-row row">

        <!-- Carousel Heading -->
        <div class="col-lg-12 col-md-12 col-sm-12">

            <div class="carousel-heading">
                <h4>Random Products</h4>
                <div class="carousel-arrows">
                    <i class="icons icon-left-dir"></i>
                    <i class="icons icon-right-dir"></i>
                </div>
            </div>

        </div>
        <!-- /Carousel Heading -->

        <!-- Carousel -->
        <div class="carousel owl-carousel-wrap col-lg-12 col-md-12 col-sm-12">

            <div class="owl-carousel" data-max-items="3">

                <!-- Slide -->
                <div>
                    <!-- Carousel Item -->
                    <div class="product">

                        <div class="product-image">
                            <img src="{{ asset('bundles/ecomapp/img/products/sample4.jpg') }}" alt="Product1">
                            <a href="products_page_v1.html" class="product-hover">
                                <i class="icons icon-eye-1"></i> Quick View
                            </a>
                        </div>

                        <div class="product-info">
                            <h5><a href="products_page_v1.html">Lorem ipsum dolor sit amet</a></h5>
                            <span class="price">$281.00</span>
                            <div class="rating readonly-rating" data-score="4"></div>
                        </div>

                        <div class="product-actions">
												<span class="add-to-cart">
													<span class="action-wrapper">
														<i class="icons icon-basket-2"></i>
														<span class="action-name">Add to cart</span>
													</span >
												</span>
                            <span class="add-to-favorites">
													<span class="action-wrapper">
														<i class="icons icon-heart-empty"></i>
														<span class="action-name">Add to wishlist</span>
													</span>
												</span>
                            <span class="add-to-compare">
													<span class="action-wrapper">
														<i class="icons icon-docs"></i>
														<span class="action-name">Add to Compare</span>
													</span>
												</span>
                        </div>

                    </div>
                    <!-- /Carousel Item -->
                </div>
                <!-- /Slide -->


                <!-- Slide -->
                <div>
                    <!-- Carousel Item -->
                    <div class="product">

                        <div class="product-image">
                            <img src="{{ asset('bundles/ecomapp/img/products/sample4.jpg') }}" alt="Product1">
                            <a href="products_page_v1.html" class="product-hover">
                                <i class="icons icon-eye-1"></i> Quick View
                            </a>
                        </div>

                        <div class="product-info">
                            <h5><a href="products_page_v1.html">Lorem ipsum dolor sit amet</a></h5>
                            <span class="price">$281.00</span>
                            <div class="rating readonly-rating" data-score="4"></div>
                        </div>

                        <div class="product-actions">
												<span class="add-to-cart">
													<span class="action-wrapper">
														<i class="icons icon-basket-2"></i>
														<span class="action-name">Add to cart</span>
													</span >
												</span>
                            <span class="add-to-favorites">
													<span class="action-wrapper">
														<i class="icons icon-heart-empty"></i>
														<span class="action-name">Add to wishlist</span>
													</span>
												</span>
                            <span class="add-to-compare">
													<span class="action-wrapper">
														<i class="icons icon-docs"></i>
														<span class="action-name">Add to Compare</span>
													</span>
												</span>
                        </div>

                    </div>
                    <!-- /Carousel Item -->
                </div>
                <!-- /Slide -->



                <!-- Slide -->
                <div>
                    <!-- Carousel Item -->
                    <div class="product">

                        <div class="product-image">
                            <img src="{{ asset('bundles/ecomapp/img/products/sample4.jpg') }}" alt="Product1">
                            <a href="products_page_v1.html" class="product-hover">
                                <i class="icons icon-eye-1"></i> Quick View
                            </a>
                        </div>

                        <div class="product-info">
                            <h5><a href="products_page_v1.html">Lorem ipsum dolor sit amet</a></h5>
                            <span class="price">$281.00</span>
                            <div class="rating readonly-rating" data-score="4"></div>
                        </div>

                        <div class="product-actions">
												<span class="add-to-cart">
													<span class="action-wrapper">
														<i class="icons icon-basket-2"></i>
														<span class="action-name">Add to cart</span>
													</span >
												</span>
                            <span class="add-to-favorites">
													<span class="action-wrapper">
														<i class="icons icon-heart-empty"></i>
														<span class="action-name">Add to wishlist</span>
													</span>
												</span>
                            <span class="add-to-compare">
													<span class="action-wrapper">
														<i class="icons icon-docs"></i>
														<span class="action-name">Add to Compare</span>
													</span>
												</span>
                        </div>

                    </div>
                    <!-- /Carousel Item -->
                </div>
                <!-- /Slide -->




                <!-- Slide -->
                <div>
                    <!-- Carousel Item -->
                    <div class="product">

                        <div class="product-image">
                            <img src="{{ asset('bundles/ecomapp/img/products/sample4.jpg') }}" alt="Product1">
                            <a href="products_page_v1.html" class="product-hover">
                                <i class="icons icon-eye-1"></i> Quick View
                            </a>
                        </div>

                        <div class="product-info">
                            <h5><a href="products_page_v1.html">Lorem ipsum dolor sit amet</a></h5>
                            <span class="price">$281.00</span>
                            <div class="rating readonly-rating" data-score="4"></div>
                        </div>

                        <div class="product-actions">
												<span class="add-to-cart">
													<span class="action-wrapper">
														<i class="icons icon-basket-2"></i>
														<span class="action-name">Add to cart</span>
													</span >
												</span>
                            <span class="add-to-favorites">
													<span class="action-wrapper">
														<i class="icons icon-heart-empty"></i>
														<span class="action-name">Add to wishlist</span>
													</span>
												</span>
                            <span class="add-to-compare">
													<span class="action-wrapper">
														<i class="icons icon-docs"></i>
														<span class="action-name">Add to Compare</span>
													</span>
												</span>
                        </div>

                    </div>
                    <!-- /Carousel Item -->
                </div>
                <!-- /Slide -->




                <!-- Slide -->
                <div>
                    <!-- Carousel Item -->
                    <div class="product">

                        <div class="product-image">
                            <img src="{{ asset('bundles/ecomapp/img/products/sample4.jpg') }}" alt="Product1">
                            <a href="products_page_v1.html" class="product-hover">
                                <i class="icons icon-eye-1"></i> Quick View
                            </a>
                        </div>

                        <div class="product-info">
                            <h5><a href="products_page_v1.html">Lorem ipsum dolor sit amet</a></h5>
                            <span class="price">$281.00</span>
                            <div class="rating readonly-rating" data-score="4"></div>
                        </div>

                        <div class="product-actions">
												<span class="add-to-cart">
													<span class="action-wrapper">
														<i class="icons icon-basket-2"></i>
														<span class="action-name">Add to cart</span>
													</span >
												</span>
                            <span class="add-to-favorites">
													<span class="action-wrapper">
														<i class="icons icon-heart-empty"></i>
														<span class="action-name">Add to wishlist</span>
													</span>
												</span>
                            <span class="add-to-compare">
													<span class="action-wrapper">
														<i class="icons icon-docs"></i>
														<span class="action-name">Add to Compare</span>
													</span>
												</span>
                        </div>

                    </div>
                    <!-- /Carousel Item -->
                </div>
                <!-- /Slide -->





                <!-- Slide -->
                <div>
                    <!-- Carousel Item -->
                    <div class="product">

                        <div class="product-image">
                            <img src="{{ asset('bundles/ecomapp/img/products/sample4.jpg') }}" alt="Product1">
                            <a href="products_page_v1.html" class="product-hover">
                                <i class="icons icon-eye-1"></i> Quick View
                            </a>
                        </div>

                        <div class="product-info">
                            <h5><a href="products_page_v1.html">Lorem ipsum dolor sit amet</a></h5>
                            <span class="price">$281.00</span>
                            <div class="rating readonly-rating" data-score="4"></div>
                        </div>

                        <div class="product-actions">
												<span class="add-to-cart">
													<span class="action-wrapper">
														<i class="icons icon-basket-2"></i>
														<span class="action-name">Add to cart</span>
													</span >
												</span>
                            <span class="add-to-favorites">
													<span class="action-wrapper">
														<i class="icons icon-heart-empty"></i>
														<span class="action-name">Add to wishlist</span>
													</span>
												</span>
                            <span class="add-to-compare">
													<span class="action-wrapper">
														<i class="icons icon-docs"></i>
														<span class="action-name">Add to Compare</span>
													</span>
												</span>
                        </div>

                    </div>
                    <!-- /Carousel Item -->
                </div>
                <!-- /Slide -->


            </div>
        </div>
        <!-- /Carousel -->

    </div>
    <!-- /Random Products -->





    <!-- News -->
    <div class="products-row row">

        <!-- Carousel Heading -->
        <div class="col-lg-12 col-md-12 col-sm-12">

            <div class="carousel-heading">
                <h4>Latest news &amp; Reviews</h4>
                <div class="carousel-arrows">
                    <i class="icons icon-left-dir"></i>
                    <i class="icons icon-right-dir"></i>
                </div>
            </div>

        </div>
        <!-- /Carousel Heading -->

        <!-- Carousel -->
        <div class="carousel owl-carousel-wrap col-lg-12 col-md-12 col-sm-12">

            <div class="owl-carousel" data-max-items="2">

                <!-- Slide -->
                <div>
                    <!-- Carousel Item -->
                    <article class="news">

                        <div class="news-background">

                            <div class="row">
                                <div class="col-lg-5 col-md-5 col-sm-5 news-thumbnail">
                                    <a href="#"><img src="{{ asset('bundles/ecomapp/img/news/sample1-round.jpg') }}" alt="News1"></a>
                                </div>
                                <div class="col-lg-7 col-md-7 col-sm-7 news-content">
                                    <h5><a href="blog_post.html">Lorem Ipsum</a></h5>
                                    <span class="date"><i class="icons icon-clock-1"></i> 23 April, 2012</span>
                                    <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.</p>
                                </div>
                            </div>

                        </div>

                    </article>
                    <!-- /Carousel Item -->
                </div>
                <!-- /Slide -->


                <!-- Slide -->
                <div>

                    <!-- Carousel Item -->
                    <article class="news">

                        <div class="news-background">

                            <div class="row">
                                <div class="col-lg-5 col-md-5 col-sm-5 news-thumbnail">
                                    <a href="#"><img src="{{ asset('bundles/ecomapp/img/news/sample1-round.jpg') }}" alt="News1"></a>
                                </div>
                                <div class="col-lg-7 col-md-7 col-sm-7 news-content">
                                    <h5><a href="blog_post.html">Lorem Ipsum</a></h5>
                                    <span class="date"><i class="icons icon-clock-1"></i> 23 April, 2012</span>
                                    <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.</p>
                                </div>
                            </div>

                        </div>

                    </article>
                    <!-- /Carousel Item -->

                </div>
                <!-- /Slide -->



                <!-- Slide -->
                <div>
                    <!-- Carousel Item -->
                    <article class="news">

                        <div class="news-background">

                            <div class="row">
                                <div class="col-lg-5 col-md-5 col-sm-5 news-thumbnail">
                                    <a href="#"><img src="{{ asset('bundles/ecomapp/img/news/sample1-round.jpg') }}" alt="News1"></a>
                                </div>
                                <div class="col-lg-7 col-md-7 col-sm-7 news-content">
                                    <h5><a href="blog_post.html">Lorem Ipsum</a></h5>
                                    <span class="date"><i class="icons icon-clock-1"></i> 23 April, 2012</span>
                                    <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.</p>
                                </div>
                            </div>

                        </div>

                    </article>
                    <!-- /Carousel Item -->
                </div>
                <!-- /Slide -->


                <!-- Slide -->
                <div>

                    <!-- Carousel Item -->
                    <article class="news">

                        <div class="news-background">

                            <div class="row">
                                <div class="col-lg-5 col-md-5 col-sm-5 news-thumbnail">
                                    <a href="#"><img src="{{ asset('bundles/ecomapp/img/news/sample1-round.jpg') }}" alt="News1"></a>
                                </div>
                                <div class="col-lg-7 col-md-7 col-sm-7 news-content">
                                    <h5><a href="blog_post.html">Lorem Ipsum</a></h5>
                                    <span class="date"><i class="icons icon-clock-1"></i> 23 April, 2012</span>
                                    <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.</p>
                                </div>
                            </div>

                        </div>

                    </article>
                    <!-- /Carousel Item -->

                </div>
                <!-- /Slide -->


                <!-- Slide -->
                <div>
                    <!-- Carousel Item -->
                    <article class="news">

                        <div class="news-background">

                            <div class="row">
                                <div class="col-lg-5 col-md-5 col-sm-5 news-thumbnail">
                                    <a href="#"><img src="{{ asset('bundles/ecomapp/img/news/sample1-round.jpg') }}" alt="News1"></a>
                                </div>
                                <div class="col-lg-7 col-md-7 col-sm-7 news-content">
                                    <h5><a href="blog_post.html">Lorem Ipsum</a></h5>
                                    <span class="date"><i class="icons icon-clock-1"></i> 23 April, 2012</span>
                                    <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.</p>
                                </div>
                            </div>

                        </div>

                    </article>
                    <!-- /Carousel Item -->
                </div>
                <!-- /Slide -->


                <!-- Slide -->
                <div>

                    <!-- Carousel Item -->
                    <article class="news">

                        <div class="news-background">

                            <div class="row">
                                <div class="col-lg-5 col-md-5 col-sm-5 news-thumbnail">
                                    <a href="#"><img src="{{ asset('bundles/ecomapp/img/news/sample1-round.jpg') }}" alt="News1"></a>
                                </div>
                                <div class="col-lg-7 col-md-7 col-sm-7 news-content">
                                    <h5><a href="blog_post.html">Lorem Ipsum</a></h5>
                                    <span class="date"><i class="icons icon-clock-1"></i> 23 April, 2012</span>
                                    <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.</p>
                                </div>
                            </div>

                        </div>

                    </article>
                    <!-- /Carousel Item -->

                </div>
                <!-- /Slide -->


            </div>

        </div>
        <!-- /Carousel -->

    </div>
    <!-- /News -->




    <!-- Product Brands -->
    <div class="products-row row">

        <!-- Carousel Heading -->
        <div class="col-lg-12 col-md-12 col-sm-12">

            <div class="carousel-heading">
                <h4>Product Brands</h4>
                <div class="carousel-arrows">
                    <i class="icons icon-left-dir"></i>
                    <i class="icons icon-right-dir"></i>
                </div>
            </div>

        </div>
        <!-- /Carousel Heading -->

        <!-- Carousel -->
        <div class="carousel owl-carousel-wrap col-lg-12 col-md-12 col-sm-12">

            <div class="owl-carousel" data-max-items="5">

                <!-- Slide -->
                <div>
                    <div class="product">
                        <a href="#"><img src="{{ asset('bundles/ecomapp/img/brands/sample.jpg') }}" alt="Brand1"></a>
                    </div>
                </div>
                <!-- /Slide -->

                <!-- Slide -->
                <div>
                    <div class="product">
                        <a href="#"><img src="{{ asset('bundles/ecomapp/img/brands/sample.jpg') }}" alt="Brand1"></a>
                    </div>
                </div>
                <!-- /Slide -->

                <!-- Slide -->
                <div>
                    <div class="product">
                        <a href="#"><img src="{{ asset('bundles/ecomapp/img/brands/sample.jpg') }}" alt="Brand1"></a>
                    </div>
                </div>
                <!-- /Slide -->

                <!-- Slide -->
                <div>
                    <div class="product">
                        <a href="#"><img src="{{ asset('bundles/ecomapp/img/brands/sample.jpg') }}" alt="Brand1"></a>
                    </div>
                </div>
                <!-- /Slide -->

                <!-- Slide -->
                <div>
                    <div class="product">
                        <a href="#"><img src="{{ asset('bundles/ecomapp/img/brands/sample.jpg') }}" alt="Brand1"></a>
                    </div>
                </div>
                <!-- /Slide -->

                <!-- Slide -->
                <div>
                    <div class="product">
                        <a href="#"><img src="{{ asset('bundles/ecomapp/img/brands/sample.jpg') }}" alt="Brand1"></a>
                    </div>
                </div>
                <!-- /Slide -->

                <!-- Slide -->
                <div>
                    <div class="product">
                        <a href="#"><img src="{{ asset('bundles/ecomapp/img/brands/sample.jpg') }}" alt="Brand1"></a>
                    </div>
                </div>
                <!-- /Slide -->

                <!-- Slide -->
                <div>
                    <div class="product">
                        <a href="#"><img src="{{ asset('bundles/ecomapp/img/brands/sample.jpg') }}" alt="Brand1"></a>
                    </div>
                </div>
                <!-- /Slide -->

                <!-- Slide -->
                <div>
                    <div class="product">
                        <a href="#"><img src="{{ asset('bundles/ecomapp/img/brands/sample.jpg') }}" alt="Brand1"></a>
                    </div>
                </div>
                <!-- /Slide -->

                <!-- Slide -->
                <div>
                    <div class="product">
                        <a href="#"><img src="{{ asset('bundles/ecomapp/img/brands/sample.jpg') }}" alt="Brand1"></a>
                    </div>
                </div>
                <!-- /Slide -->

            </div>

        </div>
        <!-- /Carousel -->

    </div>
    <!-- /Product Brands -->


</section>